// Color system

$white: #fff;
$gray-100: #f0f0f0;
$gray-200: #f9f9f9;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #7f7979;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
), $grays);


$brown-light: #c2956c;
$brown: #4a4343;
$brown-dark: #302b2b;
$lilac: #221d35;
$text-color: #252121;
$header-link-color: #221b34;
$lilac-light: #e5ded8;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge((
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "lilac-light": $lilac-light,
), $colors);

$primary:       $brown-light;
$secondary:     $gray-600;
$lilac-color-light: $lilac-light;
$dark:$brown-dark;
//$success:       $green;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$light-2:       $gray-200;
//$dark:          $gray-800;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    //"success": $success,
    //"warning": $warning,
    //"danger": $danger,
    //"light": $light,
    //"light-2": $light-2,
    "dark": $dark,
    //"pink": $pink,
    "lilac": $lilac-color-light
), $theme-colors);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

//$container-max-widths: (
//    sm: 432px,
//    md: 576px,
//    lg: 768px,
//    xl: 912px
//);
// Pretty colors cehckbox
//$pretty--color-default: $default;
$pretty--color-primary: $primary;
//$pretty--color-info: $info;
//$pretty--color-success: $success;
//$pretty--color-warning: $warning;
//$pretty--color-danger: $danger;
$pretty--color-dark: $dark;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    75: 75%,
    80: 80%,
    100: 100%,
    auto: auto
), $sizes);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $text-color;
$header-height: 6rem;

$jumbotron-bg: transparent;
$transition-base:             all .6s ease-in-out;
// stylelint-disable value-keyword-case
//$font-family-sans-serif:      "Muli", sans-serif;
$font-family-sans-serif:      "Phillsophe", sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 3.125;
$h2-font-size:                $font-size-base * 2.625;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;
// Navbar

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-light-color:                $header-link-color;
$navbar-light-hover-color:          rgba($header-link-color, .7);
$navbar-light-active-color:         rgba($header-link-color, .9);
$navbar-light-disabled-color:       rgba($header-link-color, .3);
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") xw;
$navbar-light-toggler-border-color: rgba($header-link-color, .1);

$display1-size:               6rem;
$display2-size:               5.5rem;
$display3-size:               4.5rem;
$display4-size:               $font-size-base * 3.125;

$box-shadow: 0 .5rem 1rem rgba($black, .25);


//$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$display1-size:               6rem;
$display2-size:               5.5rem;
$display3-size:               4.5rem;
$display4-size:               3.5rem;


// Buttons

$btn-padding-y:               .5rem;
$btn-padding-x:               1rem;
$btn-font-family:             $font-family-base;
$btn-font-size:               $font-size-base * 1.125;
$btn-font-weight:             500;
$btn-padding-y-lg:            1.125rem;
$btn-padding-x-lg:            1rem;
$btn-transition:              color .6s ease-in-out, background-color .6s ease-in-out, border-color .6s ease-in-out, box-shadow .6s ease-in-out !default;
$btn-border-radius:           0;
$btn-border-radius-lg:        0;
$btn-border-radius-sm:        0;
$card-cap-bg: transparent;
$card-border-radius: 0;

// Forms
$input-padding-y-lg:                      1rem;
$input-font-size-lg:                      $font-size-base * 0.875;
//
$input-color:                           $body-color;
$input-border-radius:                   0;
$input-border-radius-lg:                $input-border-radius;
$input-border-radius-sm:                $input-border-radius;
$input-placeholder-color:               #bbbbbb;
$input-height-lg:                       3rem;
//
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

//$input-btn-padding-y:         .375rem !default;
//$input-btn-padding-x:         .75rem !default;
//$input-btn-font-family:       null !default;
//$input-btn-font-size:         $font-size-base !default;
//$input-btn-line-height:       $line-height-base !default;
//
//$input-btn-focus-width:       .2rem !default;
//$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
//
//$input-btn-padding-y-sm:      .25rem !default;
//$input-btn-padding-x-sm:      .5rem !default;
//$input-btn-font-size-sm:      $font-size-sm !default;
//$input-btn-line-height-sm:    $line-height-sm !default;
//
//$input-btn-padding-y-lg:      1rem;
//$input-btn-padding-x-lg:      1.125rem ;
//$input-btn-font-size-lg:      $font-size-lg !default;
//$input-btn-line-height-lg:    $line-height-lg !default;
//
//$input-btn-border-width:      $border-width !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.


//$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
//$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
//$btn-font-size-sm:            $input-btn-font-size-sm !default;
//$btn-line-height-sm:          $input-btn-line-height-sm !default;
//
//$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
//$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
//$btn-font-size-lg:            $btn-font-size;
//$btn-line-height-lg:          $input-btn-line-height-lg !default;
//
//$btn-border-width:            $input-btn-border-width !default;
//
//$btn-font-weight:             $font-weight-normal !default;
//$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
//$btn-focus-width:             $input-btn-focus-width !default;
//$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
//$btn-disabled-opacity:        .65 !default;
//$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;
//
//$btn-link-disabled-color:     $gray-600 !default;
//
//$btn-block-spacing-y:         .5rem !default;
//
//// Allows for customizing button radius independently from global border radius
//$btn-border-radius:           0;
//$btn-border-radius-lg:        0;
//$btn-border-radius-sm:        0;
//

