// Color system

$white: #fff;
$gray-100: #f0f0f0;
$gray-200: #f9f9f9;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #7f7979;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
), $grays);


$brown-light: #c2956c;
$brown: #4a4343;
$brown-dark: #302b2b;
$lilac: #221d35;
$text-color: #252121;
$header-link-color: #221b34;
$lilac-light: #e5ded8;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge((
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "lilac-light": $lilac-light,
), $colors);

$primary:       $brown-light;
$secondary:     $gray-600;
$lilac-color-light: $lilac-light;
$dark:$brown-dark;
//$success:       $green;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$light-2:       $gray-200;
//$dark:          $gray-800;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge((
    "primary": $primary,
    "secondary": $secondary,
    //"success": $success,
    //"warning": $warning,
    //"danger": $danger,
    //"light": $light,
    //"light-2": $light-2,
    "dark": $dark,
    //"pink": $pink,
    "lilac": $lilac-color-light
), $theme-colors);

//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 614px,
//        lg: 794px,
//        xl: 960px
//);

//$container-max-widths: (
//    sm: 432px,
//    md: 576px,
//    lg: 768px,
//    xl: 912px
//);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $text-color;
$header-height: 7.5rem;

$jumbotron-bg: transparent;
$transition-base:             all .6s ease-in-out;
// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Effra", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 3.125;
$h2-font-size:                $font-size-base * 2.625;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.2;
$h5-font-size:                $font-size-base * 1;
$h6-font-size:                $font-size-base;
// Navbar

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-light-color:                $header-link-color;
$navbar-light-hover-color:          rgba($header-link-color, .7);
$navbar-light-active-color:         rgba($header-link-color, .9);
$navbar-light-disabled-color:       rgba($header-link-color, .3);
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") xw;
$navbar-light-toggler-border-color: rgba($header-link-color, .1);

$display1-size:               6rem;
$display2-size:               5.5rem;
$display3-size:               4.5rem;
$display4-size:               3.125rem;

$box-shadow: 0 .5rem 1rem rgba($black, .25);


//$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$display1-size:               6rem;
$display2-size:               5.5rem;
$display3-size:               4.5rem;
$display4-size:               3.5rem;

//$display1-weight:             300 !default;
//$display2-weight:             300 !default;
//$display3-weight:             300 !default;
//$display4-weight:             300 !default;
//$display-line-height:         $headings-line-height !default;
//
//$lead-font-size:              $font-size-base * 1.25 !default;
//$lead-font-weight:            300 !default;
//
//$small-font-size:             80% !default;
//
//$text-muted:                  $gray-600 !default;

// Buttons

$btn-padding-y:               1.125rem;
$btn-padding-x:               1rem;
$btn-font-family:             "Arimo", sans-serif;
$btn-font-size:               $font-family-base;
$btn-font-weight:             500;

$btn-transition:              color .6s ease-in-out, background-color .6s ease-in-out, border-color .6s ease-in-out, box-shadow .6s ease-in-out !default;
$btn-border-radius: 0;
$card-cap-bg: transparent;
$card-border-radius: 0;

// Forms
$input-padding-y-lg:                      1rem;
$input-font-size-lg:                      $font-size-base * 0.875;
//
$input-color:                           $body-color;
$input-border-radius:                   0;
$input-border-radius-lg:                $input-border-radius;
$input-border-radius-sm:                $input-border-radius;
$input-placeholder-color:               #bbbbbb;
$input-height-lg:                       3rem;
//
