.payment(style="display:none;")
    .payment-wrap
        .payment-wrap__left
            button.payment-close
                i.fa.fa-angle-left
            .card
                .card-header
                    h4.card-title Retiree Website Maintenance
                .card-body
                    h3.card-subtitle $29 per month
                    p.card-text
                        | Visibility & traffic idling
                        | Requires completion
                        | of  Apprentice or Foreman
        .payment-wrap__right
            form.payment-form
                h3.payment-form__title Payment
                .form-group.mb-5
                    h4.payment-form__subtitle Have a coupon?
                    input#payment_coupon.form-control(type='text', placeholder='Coupon Code')
                    button.btn.btn-outline-primary.btn-sm.border-0(type="button") Apply Code

                .form-row
                    .form-group.col-md-12
                        h4.payment-form__subtitle Account
                .form-row
                    .form-group.col-md-6
                        input.form-control(type='text', placeholder='Business Name')
                .form-row

                    .form-group.col-md-6
                        input.form-control(type='text', placeholder='First Name')
                    .form-group.col-md-6
                        input.form-control(type='text', placeholder='Last Name')
                    .form-group.col-md-6
                        input.form-control(type='text', placeholder='Phone')
                    .form-group.col-md-6
                        input.form-control(type='email', placeholder='Email')
                    .form-group.col-md-6
                        input.form-control(type='password', placeholder='Password')
                    .form-group.col-md-6
                        input.form-control(type='password', placeholder='Repeat Password')
                .form-row
                    .form-group.col-md-12
                        h4.payment-form__subtitle Billing
                    .form-group.col-md-12
                        input.form-control(type='text', placeholder='Billing Name')
                    .form-group.col-md-12
                        input.form-control(type='text', placeholder='Billing Card Number')
                    .form-group.form-check
                        input#checkTerms.form-check-input(type='checkbox')
                        label.form-check-label.text-white(for='checkTerms') I accept #[a(href="#") terms of service]

                button.btn.btn-outline-primary(type="button") Checkout Now
