#header.row
    nav.navbar
        a.logo(href="/")
            img.logo-img(src="img/general/logo.png" alt="Logo")
            .logo-title Construction Zone
                span wev design & seo
        button.dropdown-trigger
            .dropdown-trigger__item

        ul.nav.nav-right.ml-auto.d-none.d-lg-flex
            li
                a.btn.text-dark(href='#') Log in
            li
                a.btn.btn-primary(href='#') Get Started


