#header.row
    nav.navbar
        a.navbar-brand(href="#")
            img(src="img/general/logo.png" alt="Logo")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span
            span
        ul#navbarNav.navbar-nav.ml-auto.collapse
            li.nav-item
                a.nav-link(href='#') Home
            li.nav-item
                a.nav-link(href='#') Services
            li.nav-item
                a.nav-link(href='#') Pricing
            li.nav-item
                a.nav-link(href='#') Contact
            li.nav-item.show
                a.nav-link(href='#') Login
            li.nav-item.show
                a.nav-link(href='#') Get Started
        //ul.navbar-nav.ml-auto
        //    li.nav-item
        //        a.nav-link(href='#') Login
        //    li.nav-item
        //        a.nav-link(href='#') Get Started


