#header.row
    nav.navbar
        a.logo(href="/")
            img.logo-img(src="img/general/logo.png" alt="Logo")
            .logo-title Construction Zone
                span wev design & seo
        button#nav-toggle.navbar-toggler(type='button')
            span
            span
        ul#nav-menu.nav.nav-menu
            li.nav-item
                a.nav-link(href='#') Home
            li.nav-item
                a.nav-link(href='#') Services
            li.nav-item
                a.nav-link(href='#') Pricing
            li.nav-item
                a.nav-link(href='#') Contact
        ul.nav.nav-right.ml-auto
            li
                a.btn.text-dark(href='#') Log in
            li
                a.btn.btn-primary(href='#') Get Started


