section.section.section-allinone.bg-lilac
    .container
        .row
            .col-lg-5
                img.img-fluid(src="../img/general/all-in-one.jpg", alt="All in One")
            .d-flex.align-items-center.col-lg-7
                .jumbotron
                    h2.section-title All-in-One Solution
                    p.section-descr We provide an all-in-one web
                        | solution designed to improve
                        | your company's online presence.
                    a.btn.btn-primary(href="#") What we do
