section.section.allinone.bg-lilac
    .container
        .row
            .col-lg-6.col-md-12
                img.allinone-img(src="img/general/all-in-one.jpg", alt="All in One")
            .d-flex.align-items-center.col-lg-6.col-md-12
                .jumbotron.pl-xl-7.pt-xl-0
                    h2.section-title All-in-One Solution
                    p.section-descr We provide an all-in-one web
                        | solution designed to improve
                        | your company's online presence.
                    a.btn.btn-lg.btn-primary(href="#") What we do
