// aside dropdown start

.aside-dropdown
    .aside-dropdown__inner
        span.aside-dropdown__close
            +svg('close')

        .aside-dropdown__item

            // aside menu start
            ul.aside-menu
                li.aside-menu__item
                    a.aside-menu__link(href="#") Home
                li.aside-menu__item
                    a.aside-menu__link(href="#") Services
                li.aside-menu__item
                    a.aside-menu__link(href="#") Pricing
                li.aside-menu__item
                    a.aside-menu__link(href="#") Contacts
            // aside menu end

            .aside-inner
                span.aside-inner__title Email
                a.aside-inner__link(href="mailto:support@support.org") support@support.org

            .aside-inner
                span.aside-inner__title Phone numbers
                a.aside-inner__link(href="tel:+180012345678") + 1800 - 123 456 78
                a.aside-inner__link(href="tel:+18009756511") + 1800 - 975 65 11

            ul.aside-socials
                li.aside-socials__item
                    a.aside-socials__link(href="#")
                        +svg('facebook')
                li.aside-socials__item
                    a.aside-socials__link(href="#")
                        +svg('instagram')
                li.aside-socials__item
                    a.aside-socials__link(href="#")
                        +svg('linkedin')
                li.aside-socials__item
                    a.aside-socials__link.aside-socials__link--active(href="#")
                        +svg('twitter')


        .aside-dropdown__item
            a.btn.btn-lg.btn-outline-primary.w-100(href="#") Log In
            a.btn.btn-lg.btn-primary.mt-3.w-100(href="#") Get Started

// aside dropdown end
