// aside dropdown start

.aside-dropdown
    .aside-dropdown__inner
        span.aside-dropdown__close
            +svg('close')

        .aside-dropdown__item

            // aside menu start
            ul.aside-menu
                li.aside-menu__item
                    a.aside-menu__link(href="/index.html") Home
                li.aside-menu__item
                    a.aside-menu__link(href="#") Services
                li.aside-menu__item
                    a.aside-menu__link(href="/pricing.html") Pricing
                li.aside-menu__item
                    a.aside-menu__link(href="#") Contacts
            // aside menu end

            .aside-inner
                span.aside-inner__title Email
                a.aside-inner__link(href="mailto:support@support.org") support@support.org

            .aside-inner
                span.aside-inner__title Phone numbers
                a.aside-inner__link(href="tel:+180012345678") + 1800 - 123 456 78
                a.aside-inner__link(href="tel:+18009756511") + 1800 - 975 65 11


        .aside-dropdown__item.my-4
            include ../social/social

        .aside-dropdown__item
            a.btn.btn-lg.btn-outline-primary.w-100(href="#") Log In
            a.btn.btn-lg.btn-primary.mt-3.w-100(href="#") Get Started

// aside dropdown end
