/* aside dropdown start*/

.aside-dropdown {
    @include media-breakpoint-up(sm) {
        &__inner {
            width: 320px;
        }
    }
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    
    &__close {
        position: absolute;
        top: 12px;
        right: 7px;
        width: 40px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
        color: $white;
        .icon {
            width: 100%;
            height: 100%;
        }
    }
    
    &__inner {
        position: relative;
        width: 100%;
        min-height: 100%;
        padding: $header-height 0 rem(50) 0;
        transform: translateX(-320px);
        transition: all .3s;
        background-color: $brown;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    }
    
    &__item {
        padding: 0 3rem;
    }
}

.aside-dropdown--active {
    opacity: 1;
    visibility: visible;
    
    .aside-dropdown__inner {
        transform: translateX(0);
    }
}

/* aside menu */

.aside-menu {
    margin: 0;
    padding: 0;
    color: $white;
    
    &__item {
        list-style: none;
    }
    
    &__item:not(:last-of-type) {
        margin-bottom: 16px;
    }
    
    &__link {
        display: block;
        position: relative;
        width: 100%;
        transition: opacity .3s;
        color: $white;
        font-size: rem(18);
        font-family: "Muli", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 0;
            height: 1px;
            background: $white;
        }
        &:hover, &:focus {
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            &:after {
                width: 100%;
                transition: $transition-base;
            }
        }
    }
}

/* aside inner */

.aside-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    &__title {
        color: $brown-light;
        font-size: 11px;
        line-height: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &__link {
        color: $white;
        font-size: 14px;
        line-height: 25px;
        font-weight: 700;
        text-decoration: none;
        transition: opacity .3s;
    }
    
    &__link:hover {
        color: $white;
        opacity: 0.75;
    }
}


.aside-inner:first-of-type {
    margin-top: 51px;
}

.aside-inner:not(:last-of-type) {
    margin-bottom: 15px;
}

/* aside socials */

.aside-socials {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem auto;
    padding: 0;
    .icon {
        width: 100%;
        height: 100%;
    }
    
    &__item {
        list-style: none;
    }
    
    &__item:not(:last-of-type) {
        margin-right: 20px;
    }
    
    &__link {
        display: block;
        width: 24px;
        height: 24px;
        transition: opacity 1s;
    }
    
    &__link:hover {
        color: #818ea9;
        opacity: 0.75;
        text-decoration: none;
    }
}

/* aside dropdown end*/
