section.section.hero.my-0
    .container
        include ../header/header
        .row
            .col-xl-6
                .jumbotron.px-0
                    h1.hero-title.text-white Contractor Websites that Drive Traffic
                    p.hero-descr.text-white at $179/month
                    a.btn.btn-lg.btn-outline-primary(href='#', role='button') Get started
            .col-xl-6


