section.section.hero.my-0
    .container
        include ../header/header
        .row
            .col-lg-6.col-md-12
                .jumbotron.px-0
                    h1.hero-title.text-white We focus on what really matters.
                    h2.hero-title.text-primary Choose the right

    .hero-picture(style="background-image: url('img/general/macbook.jpg')")






