.hero {
    min-height: rem(650);
    background: $brown;
    .jumbotron {
        margin: auto 0;
    }
    &-title {
        font-family: "Philosopher", sans-serif;
        font-size: rem(50);
        line-height: 1.2;
        margin-bottom: rem(20);
    }
    &-descr {
        font-size: rem(30);
        font-family: "Philosopher", sans-serif;
        margin-bottom: rem(32);
    }
}
