.hero {
    @include media-breakpoint-down(md) {
        min-height: auto;
    }
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: rem(750);
    background: $dark;
    .jumbotron {
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
        margin: auto 0;
    }
    &-title {
        @include media-breakpoint-down(sm) {
            font-size: rem(32);
        }
        font-family: "Philosopher", sans-serif;
        font-size: rem(50);
        line-height: 1.2;
        margin-bottom: rem(20);
    }
    &-descr {
        @include media-breakpoint-down(sm) {
            font-size: rem(24);
        }
        font-size: rem(30);
        font-family: "Philosopher", sans-serif;
        margin-bottom: rem(32);
    }
    &-social {
        @include media-breakpoint-down(md) {
            &:after {
                display: none;
            }
        }
        display: flex;
        align-items: center;
        
        position: relative;
        z-index: 3;
        width: 100%;
        height: $header-height;
        background: $brown;
        margin-top: auto;
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            left: 50%;
            width: 50%;
            height: 100%;
            background: $dark;
        }
        .social-link {
            background: transparent;
        }
        .social {
            @include media-breakpoint-down(md) {
                justify-content: center;
            }
            justify-content: flex-end;
        }
    }
    &-video {
        @include media-breakpoint-down(md) {
            display: none;
        }
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        max-height: 750px;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: $header-height;
            background: $white;
        }
        &--overlay {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($dark, .3);
        }
        &--video {
            position: relative;
            height: 100%;
        }
        &--play {
            @include media-breakpoint-down(md) {
                position: relative;
                bottom: auto;
                left: auto;
                margin: 0 auto 1rem;
                transform: translateX(0);
            }
            @include media-breakpoint-down(sm) {
                //bottom: 120px;
                width: 90px;
                height: 90px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 5;
            bottom: 150px;
            left: 50%;
            width: 110px;
            height: 110px;
            overflow: hidden;
            border: solid 10px rgba($dark, .3);
            padding: 10px;
            transform: translateX(-50%);
            background: rgba($brown, .3);
            border-radius: 50%;
            text-indent: -9999px;
            transition: $transition-base;
            &:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 6;
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                transform: translate(-50%, -50%);
                background: $brown;
                box-shadow: $box-shadow;
            }
            span {
                position: relative;
                z-index: 6;
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-left: 20px solid $brown-light;
                border-bottom: 15px solid transparent;
            }
            &:hover, &:focus {
                &:before {
                    background: $white;
                    transition: $transition-base;
                }
                span {
                    border-top: 17px solid transparent;
                    border-left: 25px solid $brown-light;
                    border-bottom: 17px solid transparent;
                    transition: $transition-base;
                }
            }
        }
    }
    &-picture {
        @include media-breakpoint-down(md) {
            display: none;
        }
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        max-height: 750px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: $header-height;
            background: $white;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($dark, .3);
        }
    }
}
