section.section
    .container-fluid
        .row
            .col-lg-6.px-0
                .container-fluid-image(style="background-image: url('../img/general/think.jpg')")
            .d-flex.align-items-center.col-lg-6
                .jumbotron.pl-7
                    h2.section-title Make your best decision
                    p.section-descr Affordable Monthly Packages Beautiful Professional Website 24/7 Web Presence Monitoring
                    a.btn.btn-lg.btn-primary(href="#") Get Plan
