section.section
    .container-fluid
        .row
            .img-wrap.col-lg-6
                img.img-fluid(src="../img/general/think.jpg", alt="All in One")
            .d-flex.align-items-center.col-lg-6
                .jumbotron
                    h2.section-title All-in-One Solution
                    p.section-descr We provide an all-in-one web
                        | solution designed to improve
                        | your company's online presence.
                    a.btn.btn-primary(href="#") What we do
