extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Construction Zone Pricing"

block content
    include ../../blocks/modules/aside-dropdown/aside-dropdown
    include ../../blocks/modules/hero/hero-inner
    main.main
        include ../../blocks/modules/price/price
        //include ../../blocks/modules/pricing/pricing

    include ../../blocks/modules/footer/footer
    // Retire Website Maintenance Modal
    #RetireWebsiteMaintenanceModal.modal.modal-pricing-plan.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-content

                .modal-body
                    .pricing-title - Beautiful design
                        span #[i.fa.fa-check]

                    .pricing-title - Unlimited pages
                        span #[i.fa.fa-check]

                    .pricing-title - Resh content every month
                        span 15 minutes of updates every month

                    .pricing-title - Search engine visibility expansion
                        span #[i.fa.fa-check]

                    .pricing-title - Google My Business optimization
                        span #[i.fa.fa-check]

                    .pricing-title - Yelp optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Bing optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Stock images included
                        span #[i.fa.fa-check]

                    .pricing-title - Search engine optimized
                        span #[i.fa.fa-check]

                    .pricing-title - Mobile device responsive
                        span #[i.fa.fa-check]

                    .pricing-title - Social media integrated
                        span #[i.fa.fa-check]
                    .pricing-title - Sosting included ($20/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - SSL included ($12/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - Quarterly SEO report
                        span #[i.fa.fa-check]

                    .pricing-title - Free site audit every 36 months
                        span #[i.fa.fa-check]
                    .pricing-title - Google Analytics included
                        span #[i.fa.fa-check]

                    .pricing-title - Top notch security
                        span #[i.fa.fa-check]

                    .pricing-title - 24/7 online support
                        span #[i.fa.fa-check]

                    .pricing-title - Hours of SEO work per month
                        span 0

                    .pricing-title - Additional work
                        span at $99/hr

                .modal-footer
                    button.btn.btn-primary(type='button') get plan
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    // Apprentice Website + SEO Basic Modal
    #ApprenticeWebsiteModal.modal.modal-pricing-plan.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-content

                .modal-body
                    .pricing-title - Beautiful design
                        span #[i.fa.fa-check]

                    .pricing-title - Unlimited pages
                        span #[i.fa.fa-check]

                    .pricing-title - Resh content every month
                        span #[i.fa.fa-check]

                    .pricing-title - Search engine visibility expansion
                        span #[i.fa.fa-check]

                    .pricing-title - Google My Business optimization
                        span #[i.fa.fa-check]

                    .pricing-title - Yelp optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Bing optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Stock images included
                        span #[i.fa.fa-check]

                    .pricing-title - Search engine optimized
                        span #[i.fa.fa-check]

                    .pricing-title - Mobile device responsive
                        span #[i.fa.fa-check]

                    .pricing-title - Social media integrated
                        span #[i.fa.fa-check]
                    .pricing-title - Sosting included ($20/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - SSL included ($12/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - Quarterly SEO report
                        span #[i.fa.fa-check]

                    .pricing-title - Free site audit every 36 months
                        span #[i.fa.fa-check]
                    .pricing-title - Google Analytics included
                        span #[i.fa.fa-check]

                    .pricing-title - Top notch security
                        span #[i.fa.fa-check]

                    .pricing-title - 24/7 online support
                        span #[i.fa.fa-check]

                    .pricing-title - Hours of SEO work per month
                        span 2

                    .pricing-title - Additional work
                        span at $89/hr

                .modal-footer
                    button.btn.btn-primary(type='button') get plan
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    // Apprentice Website + SEO Basic Modal
    #ForemanWebsiteModal.modal.modal-pricing-plan.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-content

                .modal-body
                    .pricing-title - Beautiful design
                        span #[i.fa.fa-check]

                    .pricing-title - Unlimited pages
                        span #[i.fa.fa-check]

                    .pricing-title - Resh content every month
                        span #[i.fa.fa-check]

                    .pricing-title - Search engine visibility expansion
                        span #[i.fa.fa-check]

                    .pricing-title - Google My Business optimization
                        span #[i.fa.fa-check]

                    .pricing-title - Yelp optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Bing optimization included
                        span #[i.fa.fa-check]

                    .pricing-title - Stock images included
                        span #[i.fa.fa-check]

                    .pricing-title - Search engine optimized
                        span #[i.fa.fa-check]

                    .pricing-title - Mobile device responsive
                        span #[i.fa.fa-check]

                    .pricing-title - Social media integrated
                        span #[i.fa.fa-check]
                    .pricing-title - Sosting included ($20/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - SSL included ($12/mo value)
                        span #[i.fa.fa-check]

                    .pricing-title - Quarterly SEO report
                        span #[i.fa.fa-check]

                    .pricing-title - Free site audit every 36 months
                        span #[i.fa.fa-check]
                    .pricing-title - Google Analytics included
                        span #[i.fa.fa-check]

                    .pricing-title - Top notch security
                        span #[i.fa.fa-check]

                    .pricing-title - 24/7 online support
                        span #[i.fa.fa-check]

                    .pricing-title - Hours of SEO work per month
                        span 6

                    .pricing-title - Additional work
                        span at $79/hr

                .modal-footer
                    button.btn.btn-primary(type='button') get plan
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close

block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
