section.section.pricing
    .container
        .row
            #price-table.price-table
                table.w-100
                    thead.price-table-head
                        tr
                            th
                            th
                                .card
                                    .card-header
                                        h4.card-title Retiree Website Maintenance
                                    .card-body
                                        h3.card-subtitle $29 per month
                                        p.card-text
                                            | Visibility & traffic idling
                                            | Requires completion
                                            | of  Apprentice or Foreman
                            th
                                .card
                                    .card-header
                                        h4.card-title Apprentice Website + SEO Basic
                                    .card-body
                                        h3.card-subtitle $179 per month
                                        p.card-text
                                            | Slow but steady visibility &
                                            | traffic increase
                                        p.card-text
                                            strong Requires 12 month commitment
                            th
                                .card
                                    span.badge.badge-dark Best Price

                                    .card-header
                                        h4.card-title Foreman Website + SEO Pro
                                    .card-body
                                        h3.card-subtitle $429 per month
                                        p.card-text
                                            | Expedited visibility
                                            | & traffic increase
                                        p.card-text
                                            strong Requires 6 month commitment
                    tbody
                        tr
                            td - Beautiful design
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-sm.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-sm.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-sm.btn-dark(href="#") get plan
                        tr
                            td  - Unlimited pages
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Resh content every month
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Search engine visibility expansion
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Google My Business optimization
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Yelp optimization included
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Bing optimization included
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Stock images included
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Search engine optimized
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Mobile device responsive
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Social media integrated
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Sosting included ($20/mo value)
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - SSL included ($12/mo value)
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Quarterly SEO report
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Free site audit every 36 months
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Google Analytics included
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Top notch security
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - 24/7 online support
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Hours of SEO work per month
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                        tr
                            td - Additional work
                            td(data-title='Retiree Website Maintenance - $29/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Apprentice Website + SEO Basic - $179/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                            td(data-title='Foreman Website + SEO Pro - $429/month')  #[i.fa.fa-check]
                                a.btn.btn-dark(href="#") get plan
                    tfoot
                        tr
                            td
                            td
                                a.btn.btn-dark(href="#") get plan
                            td
                                a.btn.btn-dark(href="#") get plan
                            td
                                a.btn.btn-dark(href="#") get plan
                include ../payment/payment
