section.section.pricing
    .container
        .row
            .col-lg-3.offset-lg-3
                .card
                    .card-header
                        h4.card-title Retiree Website Maintenance
                    .card-body
                        h3.card-subtitle $29 per month
                        p.card-text
                            | Visibility & traffic idling
                            | Requires completion
                            | of  Apprentice or Foreman

            .col-lg-3
                .card
                    .card-header
                        h4.card-title Apprentice Website + SEO Basic
                    .card-body
                        h3.card-subtitle $179 per month
                        p.card-text
                            | Slow but steady visibility &
                            | traffic increase
                        p.card-text
                            strong Requires 12 month commitment

            .col-lg-3
                .card
                    span.badge.badge-dark Best Price

                    .card-header
                        h4.card-title Foreman Website + SEO Pro
                    .card-body
                        h3.card-subtitle $429 per month
                        p.card-text
                            | Expedited visibility
                            | & traffic increase
                        p.card-text
                            strong Requires 6 month commitment

        .row.my_featureRow
            .col-md-12.col-lg-4.my_feature
                | Feature 1
            .col-md-12.col-lg-8
                .row
                    .col-md-4.col-lg-4.my_planFeature.my_plan1
                        i.fa.fa-check.my_check
                    .col-md-4.col-lg-4.my_planFeature.my_plan2
                        i.fa.fa-check.my_check
                    .col-md-4.col-lg-4.my_planFeature.my_plan3
                        i.fa.fa-check.my_check
        .row.my_featureRow
            .col-md-12.col-lg-4.my_feature
                | Feature 2
            .col-xs-12.col-md-8
                .row
                    .col-md-4.col-lg-4.my_planFeature.my_plan1
                        i.fa
                    .col-md-4.col-lg-4.my_planFeature.my_plan2
                        i.fa.fa-check.my_check
                    .col-md-4.col-lg-4.my_planFeature.my_plan3
                        i.fa.fa-check.my_check
        .row.my_featureRow
            .col-md-12.col-lg-4.my_feature
                | Feature 3
            .col-md-12.col-md-8
                .row
                    .col-md-4.col-lg-4.my_planFeature.my_plan1
                        i.fa
                    .col-md-4.col-lg-4.my_planFeature.my_plan2
                        i.fa
                    .col-md-4.col-lg-4.my_planFeature.my_plan3
                        i.fa.fa-check.my_check

