.pricing {
    .container {
        position: relative;
        .payment {
            @include media-breakpoint-down(lg) {
                z-index: 1000;
                top: 0;
                right: 0;
                left: 0;
                height: auto;
                padding-top: 0;
            }
            top: -3rem;
            right: -2px;
            left: auto;
            height: 105%;
            border: 0;
            outline: 0;
            &:hover, &:focus {
                border: 0;
                outline: 0;
            }
        }
    }
    &-cards {
        position: relative;
        .card {
            @include media-breakpoint-down(lg) {
                height: 100%;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 1rem;
                height: auto;
            }
        }
    }
    .card {
        
        position: relative;
        min-height: rem(300);
        border: 0;
        background: $primary;
        box-shadow: 0 0.5rem 1rem rgba($primary, 0.45);
        text-align: center;
        .badge {
            position: absolute;
            top: 0;
            right: -1rem;
            padding: 1rem .5rem;
            text-transform: uppercase;
            border-radius: 0;
            font-weight: 700;
            font-family: "Muli", sans-serif;
            font-size: rem(14);
            transform: translateY(-50%);
            box-shadow: $box-shadow;
        }
        &-header {
            border: 0;
            padding: 2rem 1rem 0;
        }
        &-body {
            @include media-breakpoint-down(md) {
                padding: .75rem;
            }
        }
        &-title {
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Muli", sans-serif;
        }
        &-subtitle {
            color: $white;
            font-family: "Muli", sans-serif;
            margin-bottom: 1rem;
        }
        &-footer {
            @include media-breakpoint-down(lg) {
                display: flex;
                flex-direction: column;
                border: 0;
                .btn {
                    display: block;
                    font-size: rem(12);
                    width: 100%;
                    margin: .5rem auto;
                }
            }
            display: none;
        }
    }
    .pricing-title {
        text-align: left;
    }
    .pricing-description {
        font-family: "Muli", sans-serif;
        position: relative;
        .fa {
            display: block;
            color: $primary;
            margin: .5rem auto;
            text-align: center;
        }
        p, .fa {
            text-align: center;
        }
    }
    &-card-item {
        position: relative;
    }
}
.collapse-pricing-plan {
    position: absolute;
    z-index: $zindex-modal;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 1rem 1rem;
    background: $white;
    box-shadow: $box-shadow;
    .pricing-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
            width: 100px;
            text-align: right;
        }
    }
    .fa {
        color: $primary;
    }
    .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .close {
        position: absolute;
        top: -1rem;
        right: -3rem;
        border: 0;
        background: transparent;
        font-size: 2rem;
        color: $white;
    }
}
.price-table {
    @include media-breakpoint-down(md) {
        display: none;
        .card {
            display: block;
        }
    }
    position: relative;
    width: 100%;
    padding-top: 1.5rem;
    .card {
        margin: 0 1rem 4rem;
    }
    .fa {
        @include media-breakpoint-down(md) {
            margin: 1rem auto;
        }
        font-size: rem(20);
    }
    .fa.fa-check {
        color: $primary;
    }
    tbody .btn {
        @include media-breakpoint-down(md) {
            display: block;
            min-width: 90px;
            max-width: 120px;
            margin: 0 auto;
            padding: .5rem;
            font-size: rem(14);
        }
        display: none;
    }
    tfoot {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    td {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 2rem 1rem 1rem;
            &:before {
                content: attr(data-title);
                left: 0;
                width: 100%;
                text-align: center;
            }
        }
        
        width: 25%;
        padding: .5rem 1.5rem;
        text-align: center;
        font-size: rem(16);
        line-height: rem(14);
        font-family: "Muli", sans-serif;
        font-weight: 400;
        
        &:first-child {
            @include media-breakpoint-down(md) {
                text-transform: uppercase;
            }
            text-align: left;
            font-size: rem(18);
            line-height: rem(21);
            font-weight: 600;
        }
    }
}
@media only screen and (max-width: 992px) {
    
    /* Force table to not be like tables anymore */
    .price-table {
        display: block;
        width: 100%;
    }
    .price-table table, .price-table thead, .price-table tbody, .price-table th, .price-table td, .price-table tr {
        display: block;
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .price-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .price-table tr {
        border: 1px solid #ccc;
    }
    
    .price-table td {
        position: relative;
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        padding-left: 70%;
        white-space: normal;
        text-align: center;
        &:first-child {
            padding-left: 0;
            text-align: center;
            font-weight: 700;
            width: 100%;
            &:before {
                display: none;
            }
        }
    }
    
    .price-table td:before {
        /* Now like a table header */
        //position: absolute;
        /* Top/left values mimic padding */
        //top: 6px;
        //left: 6px;
        //width: 85%;
        //padding-right: 10px;
        //white-space: nowrap;
        //text-align: left;
        //font-weight: 400;
    }
    
    /*
    Label the data
    */
    .price-table td:before {
        //content: attr(data-title);
    }
}
