section.section.question
    .container
        .row
            .question-card.col-xl-10.bg-dark
                h3.display-4.text-white Someone is looking for a contractor right now.
                h3.display-4.text-primary Will you be in the search results?

    .question-bg(style="background-image: url('../img/general/imac.jpg')")

