section.section.hero.my-0
    .container
        include ../header/header
        .row
            .col-xl-5
                .jumbotron
                    h1.display-4.text-white Contractor Websites that Drive Traffic
                    p.lead.text-white at $179/month
                    a.btn.btn-primary.btn-lg(href='#', role='button') Get started
            .col-xl-7


