extends layouts/default
include helpers/mixins

block variables
    - const title = "Construction Zone Homepage"

block content
    include ../blocks/modules/hero/hero
    main.mains

        include ../blocks/modules/section-allinone/section-allinone
        include ../blocks/modules/section-question/section-question
        include ../blocks/modules/section-brown/section-brown
        include ../blocks/modules/section-decision/section-decision

    include ../blocks/modules/footer/footer


block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
