section.section.pricing
    .container
        .row
            .col-xl-9.offset-xl-3.col-lg-12
                .row.mb-3
                    .col-md-4.col-sm-12
                        .card
                            .card-header
                                h4.card-title Retiree Website Maintenance
                            .card-body
                                h3.card-subtitle $29 per month
                                p.card-text
                                    | Visibility & traffic idling
                                    | Requires completion
                                    | of  Apprentice or Foreman
                            .card-footer
                                a.btn.btn-outline-dark(href="#", data-toggle="modal" data-target="#RetireWebsiteMaintenanceModal") learn more
                                a.btn.btn-dark(href="#") get plan
                    .col-md-4.col-sm-12
                        .card
                            .card-header
                                h4.card-title Apprentice Website + SEO Basic
                            .card-body
                                h3.card-subtitle $179 per month
                                p.card-text
                                    | Slow but steady visibility &
                                    | traffic increase
                                p.card-text
                                    strong Requires 12 month commitment
                            .card-footer
                                a.btn.btn-outline-dark(href="#", data-toggle="modal",data-target="#ApprenticeWebsiteModal") learn more
                                a.btn.btn-dark(href="#") get plan

                    .col-md-4.col-sm-12
                        .card
                            span.badge.badge-dark Best Price

                            .card-header
                                h4.card-title Foreman Website + SEO Pro
                            .card-body
                                h3.card-subtitle $429 per month
                                p.card-text
                                    | Expedited visibility
                                    | & traffic increase
                                p.card-text
                                    strong Requires 6 month commitment
                            .card-footer
                                a.btn.btn-outline-dark(href="#", data-toggle="modal",data-target="#ForemanWebsiteModal") learn more
                                a.btn.btn-dark(href="#") get plan
        .row.pricing-description.d-none.d-xl-flex
            .col-xl-12
                .row
                    .col-lg-3
                        .pricing-title - Beautiful design
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]

                .row
                    .col-lg-3
                        .pricing-title - Unlimited pages
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Resh content every month
                    .col-lg-3
                        p 15 minutes of updates every month
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Search engine visibility expansion
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Google My Business optimization
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Yelp optimization included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Bing optimization included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Stock images included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Search engine optimized
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Mobile device responsive
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Social media integrated
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Sosting included ($20/mo value)
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - SSL included ($12/mo value)
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Quarterly SEO report
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Free site audit every 36 months
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Google Analytics included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Top notch security
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - 24/7 online support
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Hours of SEO work per month
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Additional work
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row.my-3
                    .col-lg-3
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#", data-toggle="modal" data-target=".payment" data-whatever="@mdo",data-backdrop="false") get plan
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#", data-toggle="modal" data-target=".payment" data-whatever="@mdo",data-backdrop="false") get plan
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#", data-toggle="modal" data-target=".payment" data-whatever="@mdo",data-backdrop="false") get plan

        include ../payment/payment
