section.section.pricing
    .container
        .row
            .col-xl-9.offset-xl-3.col-lg-12
                .row.pricing-cards.mb-3
                    .pricing-cards-item.col-md-4.col-sm-12
                        .card
                            .card-header
                                h4.card-title Retiree Website Maintenance
                            .card-body
                                h3.card-subtitle $29 per month
                                p.card-text
                                    | Visibility & traffic idling
                                    | Requires completion
                                    | of  Apprentice or Foreman
                            .card-footer
                                a.btn.btn-outline-dark(href="#payment29-description", data-toggle="collapse") learn more
                                a.btn.btn-dark(href="#payment29", data-toggle="collapse") get plan
                        // Retire Website Maintenance Modal
                        #payment29-description.collapse.collapse-pricing-plan.fade(tabindex='-1', role='dialog', aria-hidden='true')
                            button.payment-close(data-toggle="collapse", data-target="#payment29-description")
                                i.fa.fa-angle-left
                            .pricing-title - Beautiful design
                                span #[i.fa.fa-check]
                            .pricing-title - Unlimited pages
                                span #[i.fa.fa-check]
                            .pricing-title - Resh content every month
                                span 15 minutes of updates every month
                            .pricing-title - Search engine visibility expansion
                                span #[i.fa.fa-check]

                            .pricing-title - Google My Business optimization
                                span #[i.fa.fa-check]

                            .pricing-title - Yelp optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Bing optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Stock images included
                                span #[i.fa.fa-check]

                            .pricing-title - Search engine optimized
                                span #[i.fa.fa-check]

                            .pricing-title - Mobile device responsive
                                span #[i.fa.fa-check]

                            .pricing-title - Social media integrated
                                span #[i.fa.fa-check]
                            .pricing-title - Sosting included ($20/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - SSL included ($12/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - Quarterly SEO report
                                span #[i.fa.fa-check]

                            .pricing-title - Free site audit every 36 months
                                span #[i.fa.fa-check]
                            .pricing-title - Google Analytics included
                                span #[i.fa.fa-check]

                            .pricing-title - Top notch security
                                span #[i.fa.fa-check]

                            .pricing-title - 24/7 online support
                                span #[i.fa.fa-check]

                            .pricing-title - Hours of SEO work per month
                                span
                                    strong 0

                            .pricing-title - Additional work
                                span
                                    strong at $99/hr
                    .pricing-cards-item.col-md-4.col-sm-12
                        .card
                            .card-header
                                h4.card-title Apprentice Website + SEO Basic
                            .card-body
                                h3.card-subtitle $179 per month
                                p.card-text
                                    | Slow but steady visibility &
                                    | traffic increase
                                p.card-text
                                    strong Requires 12 month commitment
                            .card-footer
                                a.btn.btn-outline-dark(href="#payment179-description", data-toggle="collapse") learn more
                                a.btn.btn-dark(href="#payment179", data-toggle="collapse") get plan
                        // Apprentice Website + SEO Basic Modal
                        #payment179-description.collapse.collapse-pricing-plan.fade(tabindex='-1', role='dialog', aria-hidden='true')
                            button.payment-close(data-toggle="collapse", data-target="#payment179-description")
                                i.fa.fa-angle-left
                            .pricing-title - Beautiful design
                                span #[i.fa.fa-check]

                            .pricing-title - Unlimited pages
                                span #[i.fa.fa-check]

                            .pricing-title - Resh content every month
                                span #[i.fa.fa-check]

                            .pricing-title - Search engine visibility expansion
                                span #[i.fa.fa-check]

                            .pricing-title - Google My Business optimization
                                span #[i.fa.fa-check]

                            .pricing-title - Yelp optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Bing optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Stock images included
                                span #[i.fa.fa-check]

                            .pricing-title - Search engine optimized
                                span #[i.fa.fa-check]

                            .pricing-title - Mobile device responsive
                                span #[i.fa.fa-check]

                            .pricing-title - Social media integrated
                                span #[i.fa.fa-check]
                            .pricing-title - Sosting included ($20/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - SSL included ($12/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - Quarterly SEO report
                                span #[i.fa.fa-check]

                            .pricing-title - Free site audit every 36 months
                                span #[i.fa.fa-check]
                            .pricing-title - Google Analytics included
                                span #[i.fa.fa-check]

                            .pricing-title - Top notch security
                                span #[i.fa.fa-check]

                            .pricing-title - 24/7 online support
                                span #[i.fa.fa-check]

                            .pricing-title - Hours of SEO work per month
                                span
                                    strong 2
                            .pricing-title - Additional work
                                span
                                    strong at $89/hr
                    .pricing-cards-item.col-md-4.col-sm-12
                        .card
                            span.badge.badge-dark Best Price

                            .card-header
                                h4.card-title Foreman Website + SEO Pro
                            .card-body
                                h3.card-subtitle $429 per month
                                p.card-text
                                    | Expedited visibility
                                    | & traffic increase
                                p.card-text
                                    strong Requires 6 month commitment
                            .card-footer
                                a.btn.btn-outline-dark(href="#payment429-description", data-toggle="collapse") learn more
                                a.btn.btn-dark(href="#payment429", data-toggle="collapse") get plan

                        // Apprentice Website + SEO Basic Modal
                        #payment429-description.collapse.collapse-pricing-plan.fade(tabindex='-1', role='dialog', aria-hidden='true')
                            button.payment-close(data-toggle="collapse", data-target="#payment429-description")
                                i.fa.fa-angle-left
                            .pricing-title - Beautiful design
                                span #[i.fa.fa-check]

                            .pricing-title - Unlimited pages
                                span #[i.fa.fa-check]

                            .pricing-title - Resh content every month
                                span #[i.fa.fa-check]

                            .pricing-title - Search engine visibility expansion
                                span #[i.fa.fa-check]

                            .pricing-title - Google My Business optimization
                                span #[i.fa.fa-check]

                            .pricing-title - Yelp optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Bing optimization included
                                span #[i.fa.fa-check]

                            .pricing-title - Stock images included
                                span #[i.fa.fa-check]

                            .pricing-title - Search engine optimized
                                span #[i.fa.fa-check]

                            .pricing-title - Mobile device responsive
                                span #[i.fa.fa-check]

                            .pricing-title - Social media integrated
                                span #[i.fa.fa-check]
                            .pricing-title - Sosting included ($20/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - SSL included ($12/mo value)
                                span #[i.fa.fa-check]

                            .pricing-title - Quarterly SEO report
                                span #[i.fa.fa-check]

                            .pricing-title - Free site audit every 36 months
                                span #[i.fa.fa-check]
                            .pricing-title - Google Analytics included
                                span #[i.fa.fa-check]

                            .pricing-title - Top notch security
                                span #[i.fa.fa-check]

                            .pricing-title - 24/7 online support
                                span #[i.fa.fa-check]

                            .pricing-title - Hours of SEO work per month
                                span
                                    strong 6

                            .pricing-title - Additional work
                                span
                                    strong at $79/hr


        .row.pricing-description.d-none.d-xl-flex
            .col-xl-12
                .row
                    .col-lg-3
                        .pricing-title - Beautiful design
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]

                .row
                    .col-lg-3
                        .pricing-title - Unlimited pages
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Resh content every month
                    .col-lg-3
                        p 15 minutes of updates every month
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Search engine visibility expansion
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Google My Business optimization
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Yelp optimization included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Bing optimization included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Stock images included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Search engine optimized
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Mobile device responsive
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Social media integrated
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Sosting included ($20/mo value)
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - SSL included ($12/mo value)
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Quarterly SEO report
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Free site audit every 36 months
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Google Analytics included
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Top notch security
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - 24/7 online support
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Hours of SEO work per month
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row
                    .col-lg-3
                        .pricing-title - Additional work
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                    .col-lg-3
                        p #[i.fa.fa-check]
                .row.my-3
                    .col-lg-3
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#payment29", data-toggle="collapse") get plan
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#payment179", data-toggle="collapse") get plan
                    .col-lg-3
                        p
                            a.btn.btn-dark(href="#payment429", data-toggle="collapse") get plan

        include ../payment/payment
