.footer {
    background: $dark;
    padding: 80px 0;
    &-logo {
        margin-bottom: 2rem;
    }
    &-col {
        @include media-breakpoint-down(sm) {
            padding: rem(24) rem(15);
        }
        padding: rem(24) 0;
        .lead {
            margin-bottom: rem(20);
        }
        &--border {
            position: relative;
            &:before {
                @include media-breakpoint-down(sm) {
                    left: 15px;
                }
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 3px;
                background: $primary;
            }
        }
    }
    &-form {
        .form-control {
            background-color: transparent;
            color: $white;
            border: 0;
            border-bottom: 1px solid $white;
            padding-left: 0;
        }
    }
}
