footer.footer.bg-brown
    .container
        .row
            .footer-col.col-xl-3
                a.logo.mb-6(href="/")
                    img.logo-img(src="img/general/logo.png" alt="Logo")
                    .logo-title Construction Zone
                        span wev design & seo
                include ../social/social
            .footer-col.footer-col--border.col-xl-3.offset-xl-1
                p.lead.text-white.text-uppercase Have any questions?
                a.text-primary(href="#") Read frequently asked questions or contact us
            .footer-col.footer-col--border.col-xl-4.offset-xl-1
                form#footer-form.footer-form
                    .form-row.mb-4
                        .form-group.col-md-6.mb-xl-0
                            input#email.form-control(type='email', placeholder='Email')
                        .form-group.col-md-6.mb-xl-0
                            input#password.form-control(type='password', placeholder='Password')
                    .form-group.mb-4
                        textarea#messages.form-control(rows="1", placeholder='Your message')
                    button.btn.btn-outline-primary(type='submit') Contact us


