footer.footer.bg-brown
    .container
        .row
            .col-xl-4
                .footer-logo
                    img(src="img/general/logo.png" alt="Logo")
                ul.social
                    li
                        a.social-link(href="#")
                            img(src="img/svg/facebook.svg")
                    li
                        a.social-link(href="#")
                            img(src="img/svg/instagram.svg")
                    li
                        a.social-link(href="#")
                            img(src="img/svg/linkedin.svg")
                    li
                        a.social-link(href="#")
                            img(src="img/svg/twitter.svg")
            .col-xl-4 2
            .col-xl-4 3
