section.section.bg-dark
    .container
        .row
            .d-flex.align-items-center.col-lg-6
                .jumbotron.my-auto.pl-0.pr-5
                    h2.section-title.text-white Look as Professional as Your Biggest Competitors
                    p.section-descr.text-primary We specialize in construction industry web design & SEO.
                    p.d-flex.justify-content-between
                        a.btn.btn-lg.btn-outline-primary(href="#") Get Started
                        a.btn.btn-lg.btn-primary.ml-auto(href="#") Why us
            .col-lg-6
                img.img-fluid(src="img/general/conztruction-zone.jpg", alt="Look as Professional as Your Biggest Competitors")
