section.section.bg-dark
    .container
        .row.flex-md-row-reverse

            .col-lg-6.col-md-12
                img.img-fluid(src="img/general/conztruction-zone.jpg", alt="Look as Professional as Your Biggest Competitors")
            .d-flex.align-items-center.col-lg-6.col-md-12
                .jumbotron.my-auto.pl-lg-0.pr-lg-5
                    h2.section-title.text-white Look as Professional as Your Biggest Competitors
                    p.section-descr.text-primary We specialize in construction industry web design & SEO.
                    p.d-flex.justify-content-between.flex-md-row.flex-column
                        a.btn.btn-lg.btn-outline-primary.mb-3.mb-md-0(href="#") Get Started
                        a.btn.btn-lg.btn-primary.ml-md-auto(href="#") Why us
