section.section.bg-brown
    .container
        .row
            .d-flex.align-items-center.col-lg-6
                .jumbotron.my-auto.px-0
                    h2.section-title.text-white Look as Professional as Your Biggest Competitors
                    p.section-descr.text-primary We specialize in construction industry web design & SEO.
                    a.btn.btn-primary-outine(href="#") Get Started
                    a.btn.btn-primary(href="#") Why us
            .col-lg-6
                img.img-fluid(src="../img/general/conztruction-zone.jpg", alt="Look as Professional as Your Biggest Competitors")
