.social {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    li {
        padding: 0;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(34);
            height: rem(34);
            border-radius: 50%;
            background: $dark;
            svg {
                fill: $brown-light;
            }
            img, svg {
                display: block;
                width: rem(24);
                height: rem(24);
            }
            &:hover, &:focus {
                background: $brown-light;
                transition: $transition-base;
                svg {
                    fill: $dark;
                    transition: $transition-base;
                }
            }
        }
    }
    li + li {
        margin-left: 2rem;
    }
}
